<div class="row" id ="contentHolder">
  <div class="col-xs-12 col-sm-8 col-md-8">
  	<div class="well wll-sm">
    	<p>
          There's no sure path to success in any discipline. However, there are people who have done it before who we can look to for wisdom. Venture capital is no different and hopefully {{site.title}} can be a valuable reference maintained by the masses, for those looking to hone their craft.
        </p>
        <p>
          <span class="pull-right"> - Santosh Sankar</span>
        </p>
        <br>
      </div>
  	{{ content }}
  </div>
  <div class="col-sm-4 col-md-4">
  </div>
</div>